<!DOCTYPE html>
<html>
    <head>
        <link href="css/styles.css"  rel="stylesheet">
        <link rel="icon" href="/images/weather.png">
        <title>Weather Application: Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>How can we help you?</p>
        </div>

        {{>footer}}
    </body>
</html>